<ion-view title="Job List">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="setFocus()" ng-hide="hasFocus" class="button button-icon ion-ios7-search-strong animated"></button>

        <span ng-show="hasFocus" class="animated">
            <label class="item-input-wrapper animated">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input ng-blur="noFocus()" type="search" placeholder="Search">
            </label>
            <button ng-click="noFocus()" class="button button-clear animated">
                Cancel
            </button>
        </span>

    </ion-nav-buttons>
    <ion-content  class="has-header">
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>

            <ion-item ng-repeat="job in jobList|filter: search" class="item" href="#/app/jobList/{{job.JobNo}}">
                <h2>{{job.JobNo}}</h2>

                <p>
                    {{job.location}}
                </p>


                <ion-option-button class="button  button-large  button-assertive"
                                   ng-click="share(item)">
                    <div class="padding">  Add Issue</div>

                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>